@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: var(--color-light-grey);
  color: var(--color-black);
  font-family: var(--font-family-main);
  margin: 0;
}

button,
input {
  font: inherit;
}
