:root {
  --color-black: #000112;
  --color-primary: #635fc7;
  --color-primary-hover: #a8a4ff;
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-lines-dark: #3e3f4e;
  --color-medium-grey: #828fa3;
  --color-lines-light: #e4ebfa;
  --color-light-grey: #f4f7fd;
  --color-white: #ffffff;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;

  --font-family-main: 'Plus Jakarta Sans', system-ui, -apple-system, 'Segoe UI', sans-serif;

  --text-heading-xl-size: 24px;
  --text-heading-l-size: 18px;
  --text-heading-m-size: 15px;
  --text-heading-s-size: 12px;
  --text-body-l-size: 13px;
  --text-body-m-size: 12px;

  --line-height-compact: 1;
  --line-height-body: 23px;

  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-20: 20px;
  --radius-24: 24px;

  --shadow-menu: 0 10px 20px rgba(54, 78, 126, 0.25);

  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
}
