.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.appLight {
  background: var(--color-light-grey);
}

.appDark {
  background: var(--color-very-dark-grey);
}

.contentArea {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-inline-size: 0;
  min-height: 100vh;
}

.boardCanvas {
  display: block;
  flex: 1 1 auto;
  min-block-size: 0;
  overflow: auto;
  padding: var(--space-6);
}

.boardCanvasLight {
  background: var(--color-light-grey);
}

.boardCanvasDark {
  background: var(--color-very-dark-grey);
}

.emptyStateWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-block-size: 100%;
  padding: var(--space-8);
}

.columnsScroller {
  display: grid;
  gap: var(--space-6);
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  inline-size: max-content;
  min-block-size: 100%;
}

.addColumnLane {
  align-self: stretch;
  display: flex;
  min-block-size: calc(100vh - 145px);
  min-inline-size: 280px;
  padding-block-start: 39px;
}

.addColumnLane > * {
  min-block-size: 100%;
}
